Stacker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Stacker.xcodeproj/xcuserdata/soedar.xcuserdatad/xcschemes/Stacker.xcscheme
Stacker.xcodeproj/xcuserdata/soedar.xcuserdatad/xcschemes/xcschememanagement.plist
